<include file="Public/min-header"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> 添加消息 </h3>
                    </div>
                   <div class="panel-body">
                    <div class="tab-content">                    
                        <div class="tab-pane active" id="tab_tongyong">
                        <form action="{:U('add_msg')}"  method='POST'>
                          <input type='hidden' id='cate' name='cate_id' value="{$cate_id}"/>
                             <table class="table table-bordered">
                                <tbody>
                                 <tr><td>消息标题:<input type='text' name='title' value=""/></td></tr>
                                 <tr><td>发送类型:
                                    <select name='send_type' id='select'>
                                        <option value='1'>所有人</option>
                                        <option value='2'>特定用户</option>
                                    </select>
                                 </td></tr>
                                 <tr style='display:none;' id='users'><td><span>用户电话:</span><input type="text" name='mobile' value="" ></textarea></td></tr>
                                 <tr><td><span>消息内容:</span><br><textarea style='width:500px;height:120px;' name='content'></textarea></td></tr>
                                </tbody>                                 
                                </table>
                                  <input type='submit' />
                         </form>
                        </div>
                   </div>
                </div>
             </div>
        </div>
        <script>
              $(function(){
            	  $('#select').on('change',function(){
            		  var send_type = $(this).val();
            		  if(send_type==2){
            			  $('#users').show();
            		  }else{
            			  $('#users').hide();
            		  }
            	  })
              })
        </script>
     </section>
    