<include file="Public/min-header"/>
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 保证金记录</h3>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                            <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">
                                <div class="form-group">
                                    <label class="control-label" for="input-mobile">手机号码</label>
                                    <div class="input-group">
                                        <input type="text" name="mobile" value="" placeholder="手机号码" id="input_mobile" class="form-control">
                                        <!--<span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>-->
                                    </div>
                                </div>

                                <button type="submit"  id="search" class="btn btn-primary pull-right"><i class="fa fa-search"></i> 筛选</button>
                            </form>
                    </div>
                    
                    <div id="ajax_return">
                         <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                  
                                    <td class="text-right">
                                        <a href="javascript:sort('user_id');">ID</a>
                                    </td>
                                     <td class="text-left">
                                        <a href="javascript:sort('mobile');">账号</a>
                                    </td>
                                  <td class="text-left">
                                        <a href="javascript:sort('mobile');">用户姓名</a>
                                    </td>
                                    <td class="text-left">
                                        <a href='javascript:;'>缴纳保证金金额</a>
                                    </td>
                                    <td class="text-left">
                                        <a href='javascript:;'>缴纳时间</a>
                                    </td>
                                </tr>
                        </thead>
                          <tbody>
                            <foreach name='list' item='l'>
                                <tr>
                                    <td>{$l.user_id}</td>
                                    <td>{$l.mobile}</td>
                                    <td>{$l.username}</td>
                                    <td>{$l.pledge_money}</td>
                                    <td><php>echo date('Y-m-d H:i:s',$l['time']);</php></td>
                                </tr>
                            </foreach>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(function(){
        $('#search').click(function(){
            var mobile = $('#input_mobile').val();
            var url = "{:U()}"+'?mobile='+mobile;
            location.href= url;
        });
    })
</script>

</body>
</html>