<include file="Public/min-header"/>
<div class="wrapper">
    <!-- Content Header (Page header) -->
   <include file="Public/breadcrumb"/>
    <section class="content">
    <!-- Main content -->
    <!--<div class="container-fluid">-->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> 用户信息</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" onsubmit="return checkUserUpdate(this);">
                    <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>会员昵称:</td>
                        <td><input type="text" class="form-control" name="nickname" value="{$user.nickname}"></td>
                    </tr>
                    <tr>
                        <td>姓名:</td>
                        <td><input type="text" class="form-control" name="username" value="{$user.username}"></td>
                    </tr>
                    <tr>
                        <td>身份证号码:</td>
                        <td><input type="text" class="form-control" name="certificate_no" value="{$user.certificate_no}" disabled></td>
                    </tr>
					<tr>
                        <td>用户资金:</td>
                        <td><input type="text" class="form-control" name="user_money" value="{$user.user_money}"></td>
                    </tr>
                    <tr>
                        <td>保证金:</td>
                        <td><input type="text" class="form-control" name="pledge_money" value="{$user.pledge_money}"></td>
                    </tr>
                    <tr>
                        <td>身份证照片:</td>
                        <td><a href="__PUBLIC__/upload/{$user.pic1}" target="_blank"><img style="max-width: 500px" src="__PUBLIC__/upload/{$user.pic1}" alt=""></a><a href="__PUBLIC__/upload/{$user.pic2}" target="_blank"><img style="max-width: 500px" src="__PUBLIC__/upload/{$user.pic2}" alt=""></a></td>
                    </tr>
                    <tr>
                        <td>保证金缴纳时间:</td>
						<if condition="$user.pledge_time neq ''">
                        <td>{$user.pledge_time|date='Y-m-d H:i',###}</td>
						</if>
                    </tr>
                    <tr>
                        <td>保证金缴纳方式:</td>
                        <td>{$user.pledge_name}</td>
                    </tr>
                    <tr>
                        <td>冻结资金:</td>
                        <td><input type="text" class="form-control" name="frozen_money" value="{$user.frozen_money}"></td>
                    </tr>
                    <tr>
                        <td>邮件地址:</td>
                        <td><input type="text" class="form-control" name="email" value="{$user.email}"></td>
                    </tr>
                    <tr>
                        <td>新密码:</td>
                        <td><input type="text" class="form-control" name="password"></td>
                    </tr>
                    <!--<tr >
                        <td>确认密码:</td>
                        <td><input type="password" class="form-control" name="password2"></td>
                    </tr>
                    <tr>-->
                        <!--<td>会员等级:</td>-->
                        <!--<td>{$user.user_rank}</td>-->
                    <!--</tr>-->
                    <!-- <tr>
                        <td>性别:</td>
                        <td id="order-status">
                            <input name="sex" type="radio" value="0" <if condition="$user['sex'] eq 0">checked</if> >保密
                            <input name="sex" type="radio" value="1" <if condition="$user['sex'] eq 1">checked</if> >男
                            <input name="sex" type="radio" value="2" <if condition="$user['sex'] eq 2">checked</if> >女

                        </td>
                    </tr>
                    <tr>
                        <td>QQ:</td>
                        <td>
                            <input class="form-control" type="text" name="qq" value="{$user.qq}">
                        </td>
                    </tr> -->
                    <tr>
                        <td>手机:</td>
                        <td>
                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                        </td>
                    </tr>
                    <tr>
                        <td>等级:</td>
                        <td>
                        <select name="level" id="level">
                        	<foreach name="level" item="l">
                        		<option value="{$l.level_id}">{$l.level_name}</option>
                        	</foreach>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>保证金状态:</td>
                        <td>
                            <select name="is_lock" id="is_lock">
                                <if condition="$user.is_lock == 1">
                                    <option value="1" selected = "selected">未缴纳</option>
                                    <option value="0">已缴纳</option>
								</if>
                                <if condition="$user.is_lock == 0">
                                    <option value="0" selected = "selected">已缴纳</option>
                                    <option value="1">未缴纳</option>
								</if>
								<if condition="$user.is_lock == 2">
									<option value="0" selected = "selected">已缴纳</option>
                                    <option value="1">未缴纳</option>
								</if>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>上级代理电话:</td>
                        <td>
                            {$user.p_nickname}
                        </td>
                    </tr>
                    <tr>
                        <td>上级代理姓名:</td>
                        <td>
                            {$user.p_username}
                        </td>
                    </tr>
                    <tr>
                        <td>下级代理:</td>
                        <td>
                            <a href="{:U('Admin/user/show_child',array('id'=>$user['user_id']))}">查看下级代理</a>
                        </td>
                    </tr>
                   <!--   <tr>
                        <td>资金流水:</td>
                        <td>
                            <a href="{:U('Admin/user/water_money',array('id'=>$user['user_id']))}">资金流水账</a>
                        </td>
                    </tr> -->
                    <tr>
                        <td>注册时间:</td>
                        <td>
                            {$user.reg_time|date='Y-m-d H:i',###}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i> 保存
                            </button>
                            <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="返回"><i class="fa fa-reply"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>

            </div>
        </div>
 	  </div> 
    </div>    <!-- /.content -->
   </section>
</div>
<script>
$(function(){
	var level = "{$user.level}";
	$('#level').val(level);
})

    function checkUserUpdate(){
        var email = $('input[name="email"]').val();
        var mobile = $('input[name="mobile"]').val();
        var password = $('input[name="password"]').val();
       // var password2 = $('input[name="password2"]').val();

        var error ='';
        /* if(password != password2){
            error += "两次密码不一样\n";
        } */

     /*    if(!checkEmail(email)){
            error += "邮箱地址有误\n";
        } */
        if(!checkMobile(mobile)){
            error += "手机号码填写有误\n";
        }
        if(error){
            layer.alert(error, {icon: 2});  //alert(error);
            return false;
        }
        return true;

    }
</script>

</body>
</html>