<include file="Public/min-header" />
<div class="wrapper">
	<include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	             <div class="box-header">
	               	<nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
				         <!--  <form class="navbar-form form-inline" action="{:U('Ad/adList')}" method="post">
				         
				            <div class="form-group pull-right">
					            <a href="{:U('Ad/ad')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> 新增广告</a>
				            </div>		          
				          </form> -->
				      	</div>
	    			</nav>

	             </div>
	             <div class="box-body">
	           	 <div class="row">
	            	<div class="col-sm-12">
		              <table id="list-table" class="table table-bordered table-striped dataTable">
		                 <thead>
		                   <tr role="row">
                                           <th>广告id</th>
                                           <th>广告位置</th>
			                   <th>广告名称</th>	
		                  	   <th>操作</th>
		                   </tr>
		                 </thead>
						<tbody>
                          <foreach name="list" item="vo" key="k" >
                             <tr role="row">    
                                     <td>{$vo[ad_id]}</td>
                                     <td>{$ad_position_list[$vo[pid]]}</td>
		                     <td>{$vo.ad_name}</td>	                    
		              
		                   
		                   
		                     <td>
		                      <a class="btn btn-primary" href="{:U('Ad/ad',array('act'=>'edit','ad_id'=>$vo['ad_id']))}"><i class="fa fa-pencil"></i></a>
		                      <a class="btn btn-danger" onclick="delfunc(this)" data-url="{:U('Ad/adHandle')}" data-id="{$vo.ad_id}"><i class="fa fa-trash-o"></i></a>
				     </td>
		                   </tr>
		                  </foreach>
		                   </tbody>
		                 <tfoot>
		                 
		                 </tfoot>
		               </table>
	               </div>
	          </div>
              <div class="row">
              	    <div class="col-sm-6 text-left">
              	    	<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
              	    </div>
                    <div class="col-sm-6 text-right">{$page}</div>		
              </div>
	          </div>
	        </div>
       	</div>
       </div>
   </section>
<script>

</script>
</div>
</body>
</html>   
