<include file="Public/min-header"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
	        <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title"><i class="fa fa-list"></i> 消息列表</h3>
	                </div>
	               <div class="panel-body">
                    <div class="tab-content">                    
                        <div class="tab-pane active" id="tab_tongyong">
                          <form action="" method ='POST'>
                             <input type='hidden' name='id' value="{$res.id}" />
                             <table class="table table-bordered">
                                <tbody>
                                   <tr><td>类型名称:<input type='text' name='type_name' value="{$res.type_name}"> </td></tr>                          
                                   <tr><td>类型排序:<input type='number' name="listorder" value="{$res.listorder}"> </td></tr>
                                   <tr><td>是否显示:<input <if condition="$res.status eq 1">checked='checked'</if> type='radio' name="status" value="1">显示<input <if condition="$res.status eq 0">checked='checked'</if> type='radio' name="status" value="0">不显示 </td></tr>   
                                </tbody>                                 
                                </table>
                           <input type='submit' />
                           </form>
                           
                        </div>
                   </div>
                </div>
	         </div>
        </div>
     </section>
    